.screen-header {
  display: flex;
  justify-self: space-between;
  align-items: center;
  padding: var(--horizontal-space) 20px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons {
  text-align: end;
  font-size: 20px;
  margin-left: auto;
}

.screen-header li {
  display: inline-block;
  margin-left: 15px;
  width: 25px;
  height: 25px;
  text-align: center;
  cursor: pointer;
}

@keyframes rotateCog {
  from {
    transform: none;
  }

  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-gear:hover {
  animation: rotateCog 1s linear infinite;
}