@import '../sass/reset';

body {
  font-weight: bolder;
  padding: 10px;
  height: 100vh;
  font-size: 4rem;
}

.container {
  height: 100%;
  display: grid;
  grid-template:
    'one one two two' 2fr 'three three four five' 1fr
    'three three six seven' 1fr / 1fr 1fr 1fr 1fr;

  $bgColors: #dae7de #008a69 #f44607 #f7abc5 #5f5fa9 #ffc128 #f97374;
  $colors: #f44607 #FFF #FFF #f97374 #ffc128 #5f5fa9 #dae7de;


  div {
    display: grid;
    place-content: center;

    @for $i from 1 through length($bgColors) {

      // for문으로 배열을 돌린다. 1부터 bgColors의 길이만큼 i번째 아이템에
      &:nth-child(#{$i}) {
        background: nth($bgColors, $i);
        color: nth($colors, $i);
      }
    }
  }

  .one {
    grid-area: one;
  }

  .two {
    grid-area: two;
  }

  .three {
    grid-area: three;
  }

  .four {
    grid-area: four;
  }

  .five {
    grid-area: five;
  }

  .six {
    grid-area: six;
  }

  .seven {
    grid-area: seven;
  }

  .four,
  .five,
  .six,
  .seven {
    font-size: 0.7em;
  }
}