/* ===== font ===== */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@300;400&display=swap');

/* ===== valiables ===== */
:root {

  /* color */
  --cream: #F3EED9;
  --brown: #824936;
  --dark: #222C2A;
  --white: #FFFFFF;

  /* font-family */
  --basic-font: 'Roboto', sans-serif;
  --curly-font: 'Playfair Display', serif;

  /* font-weight */
  --light-basic: 300;
}

/* ===== base ===== */
*,
*::before,
*::after {
  bottom: 1px;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3125rem;
  /* = 21px */
  line-height: 1.6;
  color: var(--dark);
}

img {
  max-width: 100%;
  vertical-align: top;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  margin-top: 0;
  line-height: 1.1;
}

section {
  padding: 4em 0;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.section-title {
  font-size: 2.25em;
  color: var(--cream);
}

.section-title--dark {
  color: var(--brown);
}

/* ===== layout ===== */
.intro {
  background-color: var(--cream);
  text-align: center;
  color: var(--brown);
  min-height: 660px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__text {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 1.125rem;
  color: var(--dark);
  margin: 0 0 .25em;
}

.intro__title {
  font-size: 3rem;
}

.section-two .section-title {
  text-align: center;
}

.section-three {
  background-color: var(--dark);
  color: var(--white);
}

.section-four {
  background-color: var(--brown);
  color: var(--white);
}

@media(min-width: 600px) {
  .row {
    display: flex;
    gap: 3em;
  }

  .col {
    width: 100%;
  }

  .intro__title {
    font-size: 3.75rem;
  }
}




















.header__tit {
  font-size: 2.857142857142857rem;
  width: 60%;
}

.header__txt {
  font-size: 0.8571428571428571rem;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: .75rem;
  margin: 0;
}

.container {
  /* display: flex;
  width: 80%;
  max-width: 1128px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.row {
  /* flex-direction: row;
  justify-content: space-between;
  align-items: flex-start; */
}

.col {
  /* width: 47%; */
}

.sec-top,
.sec-middle,
.sec-bottom {
  padding: 3em 0;
}

.sec-top {
  background-color: #FFF;
  color: #222C2A;
}

.sec-top__tit,
.sec-middle__tit,
.sec-bottom__tit {
  font-size: 1.714285714285714rem;
  text-align: center;
}

.sec-top__tit {
  color: #824936;
}

.sec-top__txt,
.sec-middle__txt,
.sec-bottom__txt {
  line-height: 1.8rem;
}

.sec-middle {
  background-color: #222C2A;
  color: #FFF;
}

.sec-middle__tit,
.sec-bottom__tit {
  color: #F3EED9;
  font-size: 1.714285714285714rem;
  text-align: center;
}

.sec-bottom {
  background-color: #824936;
  color: #FFF;
}