a#friendsDisplayLink {
  background-color: var(--grey2);
  display: block;
  text-align: center;
  padding: 3px;
}

a#friendsDisplayLink i {
  margin: 0 8px;
  vertical-align: 1px;
  font-size: 13px;
  color: var(--grey);
}

.friends-screen {
  padding: 5px var(--space);
}

.friends-screen__channel {
  border-top: 1px solid var(--grey);
  margin-top: 5px;
}


.friends-screen__channel-header {
  padding-top: 5px;
  color: var(--grey-txt);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

.splash-screen {
  background-color: var(--yellow);
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 132px;
  animation: hideSplashScreen 0.3s ease-in forwards;
}